html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: gray;
}

td {
    padding: 0;
}

tr {
    padding: 0
}

table {
    padding: 0
}

#log {
    background: white;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    height: 700px;
    width: 550px;
    top: 0;
    left: 0;
    right: 0.5em;
    bottom: 5em;
    overflow: auto;
}

#form {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    position: relative;
    bottom: 1em;
    left: 10px;
    width: 550px;
    overflow: hidden;
}